<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
=======
.carousel-inner {
    padding: 1em;
    
  }
  .carousel-item{
    display: block;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 25px;
    width: 440px;
height: 580px;
flex-shrink: 0;
margin-left: 30px;
flex: 0 0 calc(100%/3);
position: relative;
display: block;

  }
.this{
  margin-left: 110px;
>>>>>>> f2fab55879ba2b53e37f0247df929635c8e12740
}
  .container-content{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    text-align: center;
    margin-top: 50px;
    margin-left: 28%;
    
  }
  .container-content h2{
    font-size: 54px;
    text-align: center;
    

<<<<<<< HEAD
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* navigation */
.navigation {
  background-color: #fff;
}
.navigation li a {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 17.438px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.01px;
  margin: 0px 10px;
}

.navigation li .form-check-input {
  background-color: #939393;
  border: #efefef;
}

.navigation li a img {
  color: #908888;
  width: 20px;
}
.btn.btn-primary {
  background-color: #2f288b;
  font-family: "Plus Jakarta Sans";

  color: #fff;
  padding: 13px 16.467px 13px 16.813px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #2f288b;

  transition: all linear 0.3s;
  text-align: center;
}
.btn.btn-primary:hover {
  background-color: black;
}
.about-app h2 {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 57px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 85.5px */
}
.about-app p {
  color: #222;
  font-family: "Plus Jakarta Sans";
  font-size: 16.875px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.01px; /* 177.837% */
}
.about-app span {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.about-app .mobile-img img {
  width: 1176px;
  height: 783px;
  top: 78px;
  left: 547px;
}
.dropdown-toggle:after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  border: 0;
  vertical-align: middle;
}
.about-app .app-detail {
  padding: 40px 0;
}
.about-app .app-detail span {
  color: #222;
  font-feature-settings: "liga" off;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.about-app .app-box img {
  width: 75.061px;
  height: 25.054px;
  border: solid 1px #444444;
  border-radius: 5px;
  justify-items: center;
}
.col {
  background-image: url("../img/Group\ 679.png");
}
.col .mob-img img {
  width: 1176px;
  height: 783px;
}
=======
  }
  .container-content h6{
    font-size: 23px;
    line-height: 150%;
    letter-spacing: 2.53px;
    text-align: center;
  }
  .container-content p{
    font-size: 16.875px;
font-style: normal;
font-weight: 400;
line-height: 30.01px;
text-align: center;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
      width: 503px;
      height: 503px;
      flex-shrink: 0;
      gap: 30px;
  }
  
  .card-detail{
    display: flex;
  }
  .fa-solid {
    color: #4872FF;
display: flex;
font-family: "Plus Jakarta Sans";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30.01px;
  }

  .card-title{
    display: inline;
    text-align: center;
  }
  .know{
  text-indent: 50%;
  margin-left: 40px;
margin-inline-start: 20px;
 white-space: nowrap; 
 color: #4872FF;
margin-bottom: auto;
font-family: "Plus Jakarta Sans";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30.01px;
display: inline;


  }

  
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }
>>>>>>> f2fab55879ba2b53e37f0247df929635c8e12740
