body {

    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}




/* navigation */
.navigation{
    background-color:#FFF;
}
.navigation li a{
    font-weight: 500;
    font-size:16px;
    color: black;
    margin:0px 12px;
}

.navigation li .form-check-input{
    background-color:lightgray  ;
    border: #efefef;
}
.navigation li a i{
    color:#908888;
}
.btn.btn-primary{
    background-color:rgb(20, 20, 108);
    color: #FFF;
    padding:10px 20px;
    font-weight:500;
    font-size:18px;
    border-radius:10px;
    transition: all linear 0.3s;
}
.btn.btn-primary:hover{
    background-color:black  ;
}
<<<<<<< HEAD
<<<<<<< HEAD
.slider_section{
    width: 1220px;
height: 493px;
border-radius: 20px;
border: 1px;
background-color: #F9FAFA;
margin-left: 140px;

}
span{
    width: 46px;
height: 46px;
top: -0.06px;
font-size: 30px;
top:  7%;
position: absolute;

}
h4{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 69.94px;
    
}
.detail-box{
    width: 460px;
height: 300px;
top: 138px;
left: 660px;

}
.detail-box p{
    top: 140.94px;
}

.feature-container{
    font-family: Plus Jakarta Sans;
    font-size: 57px;
    font-weight: 800;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: center;
    

    
}
.feature-content{
    font-family: Plus Jakarta Sans;
    font-size: 16.88px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    

}
.logobar{
    width: 1440px;
    height: 142px;
    padding: 16px, 112px, 16px, 112px;
  gap: 10px
    
}
.feature-11{
    background-image: linear-gradient(to right,#EDE9FE, blue);
    
}
